<%%= content_for :header, "Listing <%= plural_name %>" %>
<%% content_for :additional_css do %>
  <%%= stylesheet_link_tag "nosidebar" %>
<%% end -%>
<span style="float:left;margin-top:5px;"><%%= link_to_new "New <%= singular_name.humanize %>", <%= class_name %> %></span>
<br />
<table class="index">
  <tr>
<% for attribute in attributes -%>
    <th><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %></th>
<% end -%>
    <th>&nbsp;</th>
  </tr>
<%% for <%= singular_name %> in @<%= plural_name %> %>
  <tr>
<% for attribute in attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td class="actions">
      <%%= link_to_show t('app.actions.show', :default => "Show"), <%= singular_name %> %>&nbsp;
      <%%= link_to_edit t('app.actions.edit', :default => "Edit"), <%= singular_name %> %>&nbsp;
      <%%= link_to_destroy t('app.actions.destroy', :default => "Delete"), <%= singular_name %> %>
    </td>
  </tr>
<%% end %>
</table>
<%%= will_paginate @<%= plural_name %> %>

