<%% content_for :sidebar do %>
  <ul class="sidebar_menu">
    <li><%%= link_to 'Back to <%= singular_name %> list', <%= plural_name %>_path, :class => "action back" %></li>
  </ul>
<%% end -%>
<%% form_for(@<%= singular_name %>) do |f| %>
<%%= f.error_messages %>
<% for attribute in attributes -%>
<p>
  <%%= f.label :<%= attribute.name %> %><br />
  <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
</p>
<% end %>
<p>
  <%%= f.submit "Confirm" %>
</p>
<%% end %>
