<%%= content_for :header, "Listing <%= plural_name %>" %>
<%% content_for :sidebar do %>
  <ul class="sidebar_menu">
    <li><%%= link_to_new <%= class_name %> %></li>
  </ul>
<%% end -%>

<table class="index">
  <tr>
<% for attribute in attributes -%>
    <th><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %></th>
<% end -%>
    <th>&nbsp;</th>
  </tr>
<%% for <%= singular_name %> in @<%= plural_name %> %>
  <tr>
<% for attribute in attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td class="actions">
      <%%= link_to_show <%= singular_name %> %> |
      <%%= link_to_edit <%= singular_name %> %> |
      <%%= link_to_destroy <%= singular_name %> %>
    </td>
  </tr>
<%% end %>
</table>
<%%= will_paginate @<%= plural_name %> %>

