<h3><%= t '.account_details', :default => 'Account details' %></h3>
<table class="overview">
  <%= cell User.human_attribute_name('login'), h(@user.login) %>
  <%= cell_separator %>
  <%= cell User.human_attribute_name('email'), "#{h(@user.email)} <small>#{link_to t('.change', :default => 'change'), edit_email_user_url(@user)}</small>" %>
  <%= cell User.human_attribute_name('password'), "#{"*"*8} <small>#{link_to t('.change', :default => 'change'), edit_password_user_url(@user)}</small>" %>
  <%= cell_separator %>
  <%= cell User.human_attribute_name('created_at'), @user.created_at.to_s(:long) %>
  <%= cell User.human_attribute_name('updated_at'), @user.updated_at.to_s(:long) %>
</table>

