<% content_for :header do -%>
  <%= t('.header', :default => 'Change my password') %>
<% end -%>
<% form_for :user, @user, :url => update_password_user_url(@user), :html => {:method => :put, :id => 'change_password'} do |f| %>
  <% @user.errors.each do |e| -%>
    <ul class="errors">
      <li><%= "#{e[0].humanize} #{e[1]}" %></li>
    </ul>
  <% end -%>
  <h3><%= t('.current_password.title', :default => 'Your current password') %></h3>
  <p><%= t('.current_password.message', :default => 'To prevent abuse, please enter your current password.') %></p>
  <p><%= password_field_tag 'current_password', '', :size => 20 %></p>
  <h3><%= t('.new_password.title', :default => 'Your new password') %></h3>
  <p><%= t('.new_password.message', :default => 'Please enter your new password (and the confirmation) below.') %></p>
  <p><%= password_field_tag 'new_password', '', :size => 20 %></p>
  <p><%= password_field_tag 'new_password_confirmation', '', :size => 20 %></p>
  <p><%= submit_tag t('.submit', :default => "Change my password") %> <%= t('.or', :default => 'or') %> <%= link_to t('.back', :default => "forget about it"), profile_url(@user) %></p>
<% end %>
<%= javascript_tag "Form.focusFirstElement('change_password')" %>

