<% content_for :header do -%>
  <%= t('.header', :default => 'Password Recovery') %>
<% end -%>
<% unless @user.nil? %>
  <% if @user.active? %>
    <p><%= t('.user.active.message1', :user_email => @user.email,
        :default => "An email containing further instructions has been dispatched to you at <em>#{@user.email}</em>.") %></p>
    <p><%= t('.user.active.message2',
        :default => "Please follow the instructions in the email to recover your account's password.") %></p>
  <% else %>
    <p><%= t('.user.inactive.message1',
        :default => "Your account is currently not active. You cannot reset your password when your account is not active.") %></p>
    <p><%= t('.user.inactive.message2', :support_name => configatron.support_name, :support_email => secure_mail_to(configatron.support_email),
        :default => "Please contact #{configatron.support_name} at #{secure_mail_to configatron.support_email}.") %></p>
  <% end %>
<% else %>
  <p><%= t('.no_user.message', :default => 'Please enter the login or email address associated with your account. We will send you an email with further instructions shortly.') %></p>
  <% form_tag user_forgot_password_url, :method => :put, :id => 'forgot_password' do %>
    <p><label><%= t('.no_user.login_or_email', :default => 'Your login or email address') %></label><br />
    <%= text_field_tag :email_or_login %></p>
    <div id="submitbutton">
      <p><%= submit_tag t('.submit', :default => 'Recover my password &raquo;') %></p>
    </div>
  <% end %>
<% end %>
<%= link_to t('.back', :default => "&laquo; Go back"), user_troubleshooting_url %>
<%= javascript_tag "Form.focusFirstElement('forgot_password')" %>

