  <div id="footer">
    <%= APP_CONFIG.site_name %> <%= t('.by', :default => 'by') %> <%= APP_CONFIG.company_name %><br />
    <%= t('.copyright', :default => 'Copyright ©') %> <%= APP_CONFIG.company_name %>
  </div>

