  <div id="footer">
    <%= configatron.site_name %> <%= t('.by', :default => 'by') %> <%= configatron.company_name %><br />
    <%= t('.copyright', :default => 'Copyright ©') %> <%= configatron.company_name %>
  </div>

