<table>
  <tr>
    <th><%= Ticket.human_name %>:</th>
    <td><%= @ticket.ticket_id %></td>
  </tr>
  <tr>
    <th><%= Ticket.human_attribute_name('creator_id') %>:</th>
    <td><%= @ticket.creator.profile.nick_name %></td>
  </tr>
  <tr>
    <th><%= Ticket.human_attribute_name('status') %>:</th>
    <td><%= @ticket.status %></td>
  </tr>
  <tr>
    <th><%= Ticket.human_attribute_name('category') %>:</th>
    <td><%= @ticket.category %></td>
  </tr>
  <tr>
    <th><%= Ticket.human_attribute_name('priority') %>:</th>
    <td><%= @ticket.priority %></td>
  </tr>
</table>
<hr />
<%= @ticket.subject %>
<hr />
<%= textilize @ticket.body %>

