<% content_for :sidebar do %>
  <ul class="sidebar_menu">
    <li><%= link_to 'Back', tickets_path, :class => "action back" %></li>
  </ul>
<% end -%>
<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject, :size => 50 %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :cols => 75, :rows => 10 %>
  </p>
  <table>
    <tr>
      <td><%= f.label :assigned_to_id, "Assigned to" %></td>
      <td width='42%'><%= f.collection_select :assigned_to_id, Profile.support_users, :id, :login, {:prompt => '--unassigned--'} %></td>
      <td><%= f.label :category %></td>
      <td><%= f.select :category, string_array_for_select(Ticket::CATEGORIES) %></td>
    </tr>
    <tr>
      <td><%= f.label :priority %></td>
      <td><%= f.select :priority, string_array_for_select(Ticket::PRIORITIES) %></td>
      <td><%= f.label :status %></td>
      <td><%= f.select :status, @ticket.status_for_select %></td>
    </tr>
  </table>
  <p>
    <%= f.submit "Confirm" %>
  </p>
<% end %>

