<%= content_for :header, t('.header', :default => "Listing Tickets") %>
<% content_for :sidebar do -%>
  <div class="sidebar_info">
    <p><%= t('.sidebar_info', :default => 'Before submit a ticket, check if the issue has not already been reported') %></p>
  </div>
  <ul class="sidebar_menu">
    <li><%= link_to_search tickets_path, :text => t('.view_all_tickets', :default => "View all tickets") %></li>
    <% Ticket::STATUS.each do |st| -%>
    <li><%= link_to_search tickets_path(:status => st),
          :text => t('.view_tickets_by_status',
          :status => Ticket.human_attribute_name("status_names.#{st}").to_s.downcase.pluralize,
          :default => "View #{st} tickets") %></li>
    <% end -%>
  </ul>
<% end -%>
<span style="float:left;margin-top:5px;"><%= link_to_new Ticket %></span>
<% form_tag tickets_path, :method => :get, :class => "search_form" do -%>
  <% unless params[:status].blank? -%>
    <%= hidden_field_tag "status", params[:status] %>
  <% end -%>
  <%= text_field_tag "query", params[:query] %>
  <%= submit_tag t('.search', :default => 'Search'), :name => nil %>
<% end -%><br />
<table class="index">
  <tr>
    <th width="10%">#<%= Ticket.human_name %></th>
    <th width="10%"><%= Ticket.human_attribute_name('priority') %></th>
    <th width="62%"><%= Ticket.human_attribute_name('subject') %></th>
    <th width="10%"><%= Ticket.human_attribute_name('category') %></th>
    <th width="8%"><%= Ticket.human_attribute_name('status') %></th>
  </tr>
<% for ticket in @tickets %>
  <tr>
    <td><%= link_to_show ticket, :text => h(ticket.ticket_id), :show_text => true %></td>
    <td><%=h ticket.priority_name %></td>
    <td><%=h ticket.subject %></td>
    <td><%=h ticket.category_name %></td>
    <td style="<%= status_style(ticket) %>"><%=h ticket.status_name %></td>
  </tr>
<% end %>
</table>
<%= paginate @tickets %>

