<%= content_for :header, "Ticket #{@ticket.ticket_id}" %>
<% content_for :additional_css do %>
  <%= stylesheet_link_tag 'ticket' %>
<% end -%>
<% content_for :sidebar do -%>
  <ul class="sidebar_menu">
    <li><%= link_to_back tickets_path, :text => t('.back', :default => 'Back to ticket list') %></li>
    <li><%= link_to_edit @ticket %></li>
    <li><%= link_to_destroy @ticket %></li>
  </ul>
<% end -%>

<div id="ticket">
  <p>
    <span class="ticket_id"><%= @ticket.ticket_id %></span>
    <span style="float:left;width:200px;margin-top:3px"><%= Ticket.human_attribute_name('priority') %>: <strong><%= @ticket.priority_name %></strong></span>
    <span class="right"><%= Ticket.human_attribute_name('category') %>: <strong><%=h @ticket.category_name %></strong></span>
  </p>
  <p>
    <span style="float:left;width:300px;"><strong><%= Ticket.human_attribute_name('created_at') %>: </strong><%= @ticket.created_at.to_s(:short) %></span>
    <span class="right"><%= Ticket.human_attribute_name('status') %>: <strong><%=h @ticket.status_name %></strong></span>
  </p>
  <div class="ticket_body">
    <h3><strong><em><%=h @ticket.subject %></em></strong></h3>
    <%= textilize @ticket.body %>
  </div>
</div>
<% unless @ticket.ticket_updates.blank? -%>
  <div id="updates_ticket">
    <% for update in @ticket.ticket_updates -%>
      <span style="float:right"><%= link_to_destroy update_delete_ticket_path(update) %></span>
      <p><em><%=h update.user_change %></em> <%= t('.at', :default => 'at') %> <strong><%= update.created_at.to_s(:short) %>:</strong></p>
      <% unless update.assigned_change.blank? -%>
        <p><em><%= TicketUpdate.human_attribute_name('assigned_change') %>: <strong><%= sanitize update.assigned_change %></strong></em></p>
      <% end -%>
      <% unless update.status_change.blank? -%>
        <p><em><%= TicketUpdate.human_attribute_name('status_change') %>: <strong><%= sanitize update.status_change %></strong></em></p>
      <% end -%>
      <% unless update.category_change.blank? -%>
        <p><em><%= TicketUpdate.human_attribute_name('category_change') %>: <strong><%= sanitize update.category_change %></strong></em></p>
      <% end -%>
      <% unless update.priority_change.blank? -%>
        <p><em><%= TicketUpdate.human_attribute_name('priority_change') %>: <strong><%= sanitize update.priority_change %></strong></em></p>
      <% end -%>
      <% unless update.body.blank? -%>
        <div class="ticket_body"><%= textilize update.body %></div>
      <% end -%>
      <% unless @ticket.ticket_updates.to_a.last == update -%><hr /><% end -%>
    <% end -%>
  </div>
<% end -%>
<div id="update_ticket_form">
<% form_for :ticket_update, @ticket.new_update, :url => { :action => "ticket_update" } do |f| -%>
  <table>
    <tr>
      <td><%= f.label :assigned_to_id, Ticket.human_attribute_name('assigned_to_id') %></td>
      <td width='55%'><%= f.collection_select :assigned_to_id, Profile.support_users, :id, :exibition_name, {:prompt => t('.assigned_to_prompt', :default => '--unassigned--')} %></td>
      <td><%= f.label :category, Ticket.human_attribute_name('category') %></td>
      <td><%= f.select :category, @ticket.categories_for_select %></td>
    </tr>
    <tr>
      <td><%= f.label :priority, Ticket.human_attribute_name('priority') %></td>
      <td><%= f.select :priority, @ticket.priorities_for_select %></td>
      <td><%= f.label :status, Ticket.human_attribute_name('status') %></td>
      <td><%= f.select :status, @ticket.status_for_select %></td>
    </tr>
  </table>
  <p>
    <%= f.label :body, Ticket.human_attribute_name('body') %><br />
    <%= f.text_area :body, :cols => 75, :rows => 10 %>
  </p>
  <p>
    <%= f.submit t('.submit', :default => "Confirm") %>
  </p>
<% end -%>
</div>

