<%= content_for :header, "Ticket #{@ticket.ticket_id}" %>
<% content_for :additional_css do %>
  <%= stylesheet_link_tag 'ticket' %>
<% end -%>
<% content_for :sidebar do -%>
  <ul class="sidebar_menu">
    <li><%= link_to_back tickets_path, :text => t('.back', :default => 'Back to ticket list') %></li>
    <li><%= link_to_edit @ticket %></li>
    <li><%= link_to_destroy @ticket %></li>
  </ul>
<% end -%>
<div id="ticket">
  <span class="ticket_id">Ticket <%= @ticket.ticket_id %></span><br />
  <div class="ticket_body">
    <div class="ticket_subject"><%=h @ticket.subject %></div>
    <div class="ticket_header">
      <p>
        <span class="left"><%= "#{t('.opened', :default => 'Opened')} #{distance_of_time_in_words(@ticket.created_at, Time.now)}" %></span>
        <span class="right"><%= "#{t('.last_modified', :default => 'Last modified')} #{distance_of_time_in_words(@ticket.updated_at, Time.now)}" %></span>
      </p>
      <p>
        <span class="left"><%= Ticket.human_attribute_name('creator_id') %>: <span class="value"><%= h(@ticket.creator.exibition_name) if @ticket.creator %></span></span>
        <span class="right"><%= Ticket.human_attribute_name('assigned_to_id') %>:  <span class="value"><%= h(@ticket.assigned_to.exibition_name) if @ticket.assigned_to %></span></span>
      </p>
      <p>
        <span class="left"><%= Ticket.human_attribute_name('priority') %>: <span class="value"><%= @ticket.priority_name %></span></span>
        <span class="right"><%= Ticket.human_attribute_name('category') %>: <span class="value"><%=h @ticket.category_name %></span></span>
      </p>
      <p>
        <span class="left"><%= Ticket.human_attribute_name('status') %>: <span class="value"><%=h @ticket.status_name %></span></span>
        <span class="right">&nbsp;</span>
      </p>
    </div>
    <div class="description_title">
      <%= t('.description', :default => "Description") %>
    </div>
    <div class="ticket_description">
    <%= textilize @ticket.body %>
    </div>
  </div>
</div>
<% unless @ticket.ticket_updates.blank? -%>
  <h3><%= t('.change_history', :default => "Change history") %></h3>
  <div id="updates_ticket">
    <% for update in @ticket.ticket_updates -%>
      <div class="ticket_update_entry">
        <div class="ticket_update_header">
          <span style="float:right"><%= link_to_destroy update_delete_ticket_path(update) %></span>
          <%= update.created_at.to_s %> <%= t('.by', :default => 'by') %> <%=h update.user_change %>
        </div>
        <% if update.attribute_updated? -%>
          <ul>
            <% TicketUpdate.updateable_attributes.each do |attrib| -%>
              <% unless update.send(attrib).blank? -%>
                <li><span class="changed_title"><%= TicketUpdate.human_attribute_name(attrib) %>:</span> <span class="changed_value"><%= sanitize update.send(attrib) %></span></li>
              <% end -%>
            <% end -%>
          </ul>
        <% end -%>
        <% unless update.body.blank? -%>
          <div class="ticket_body"><%= textilize update.body %></div>
        <% end -%>
      </div>
    <% end -%>
  </div>
<% end -%>
<div id="update_ticket_form">
<% form_for :ticket_update, @ticket.new_update, :url => { :action => "ticket_update" } do |f| -%>
  <table>
    <tr>
      <td><%= f.label :assigned_to_id, Ticket.human_attribute_name('assigned_to_id') %></td>
      <td width='45%'><%= f.collection_select :assigned_to_id, Profile.support_users, :id, :exibition_name, {:prompt => t('.assigned_to_prompt', :default => '--unassigned--')} %></td>
      <td><%= f.label :category, Ticket.human_attribute_name('category') %></td>
      <td><%= f.select :category, @ticket.categories_for_select %></td>
    </tr>
    <tr>
      <td><%= f.label :priority, Ticket.human_attribute_name('priority') %></td>
      <td><%= f.select :priority, @ticket.priorities_for_select %></td>
      <td><%= f.label :status, Ticket.human_attribute_name('status') %></td>
      <td><%= f.select :status, @ticket.status_for_select %></td>
    </tr>
  </table>
  <p>
    <%= f.label :body, Ticket.human_attribute_name('body') %><br />
    <%= f.text_area :body, :cols => 75, :rows => 10 %>
  </p>
  <p>
    <%= f.submit t('.submit', :default => "Confirm") %>
  </p>
<% end -%>
</div>

