<% content_for :sidebar do %>
  <ul class="sidebar_menu">
    <li><%= link_to_back admin_resources_path, :text => t('.back', :default => 'Back to resource list') %></li>
  </ul>
<% end -%>
<% form_for @resource, :url => resource_form_path(@resource) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :resource, Resource.human_attribute_name('resource') %><br />
    <%= f.text_field :resource, :size => 40 %><br />
    <small><%= t('.resource_help', :default => 'For an <strong>Action Resource</strong>, the Identifier should have the format: <strong>namespace:controller-action</strong>') %></small>
  </p>
  <p>
    <%= f.label :name, Resource.human_attribute_name('name') %><br />
    <%= f.text_field :name, :size => 50 %>
  </p>
  <p>
    <%= f.label :description, Resource.human_attribute_name('description') %><br />
    <%= f.text_field :description, :size => 60 %>
  </p>
	<p>
		<%= f.label :resource_group_id, Resource.human_attribute_name("resource_group_id") %><br />
		<%= f.collection_select :resource_group_id, ResourceGroup.all, :id, :name %> 
		<%= link_to_remote t('.new_group', :default => "New Group"), 
			:html => { :class  => "action new" }, :url => { :controller => 'admin/resources', :action => 'add_new_group'},
      :method => :post,
			:with => "'resource_group[name]='+value",
      :condition => "value = prompt('#{t('.group_name', :default => 'Group Name')}','')" %>
	</p>
  <p>
    <%= f.submit t('.submit', :default => "Confirm") %>
  </p>
<% end %>
<%= activate_first_element_of(@resource.new_record? ? "new_resource" : "edit_resource_#{@resource.id}") %>
