<%= content_for :header, t('.header', :default => "Resource") %>
<% content_for :sidebar do -%>
  <ul class="sidebar_menu">
    <li><%= link_to_back t('.back', :default => 'Back to resource list'), admin_resources_path %></li>
    <li><%= link_to_edit nil, @resource, :url => edit_admin_resource_path(@resource) %></li>
    <li><%= link_to_destroy nil, @resource, :url => admin_resource_path(@resource) %></li>
  </ul>
<% end -%>
<table class="overview">
  <%= cell Resource.human_attribute_name('resource'), h(@resource.resource) %>
  <%= cell Resource.human_attribute_name('name'), h(@resource.name) %>
  <%= cell Resource.human_attribute_name('description'), h(@resource.description) %>
</table>

