<%= content_for :header, t('.header', :default => 'Listing announcements') %>
<% content_for :additional_css do %>
  <%= stylesheet_link_tag "nosidebar" %>
<% end -%>
<span style="float:left;margin-top:5px;"><%= link_to_new t('.new', :default => 'New announcement'), Admin::Announcement %></span>
<br />
<table class="index">
  <tr>
    <th width="50%"><%= Admin::Announcement.human_attribute_name('title') %></th>
    <th><%= Admin::Announcement.human_attribute_name('starts_at') %></th>
    <th><%= Admin::Announcement.human_attribute_name('ends_at') %></th>
    <th>&nbsp;</th>
  </tr>
<% for announcement in @announcements %>
  <tr>
    <td><%=h announcement.title %></td>
    <td><%=h announcement.starts_at.to_s(:short) %></td>
    <td><%=h announcement.ends_at.to_s(:short) %></td>
    <td class="actions">
      <%= link_to_show nil, announcement %>
      <%= link_to_edit nil, announcement %>
      <%= link_to_destroy nil, announcement %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @announcements %>

