<%= content_for :header, "Announcement" %>
<% content_for :sidebar do -%>
  <ul class="sidebar_menu">
    <li><%= link_to_back admin_announcements_path, :text => "Back to announcements list" %></li>
    <li><%= link_to_destroy @announcement %></li>
  </ul>
<% end -%>
<table class="overview">
  <%= cell "Title", h(@announcement.title) %>
  <%= cell "Starts at", h(@announcement.starts_at) %>
  <%= cell "Ends at", h(@announcement.ends_at) %>
  <%= cell "Message", link_to_edit(@announcement) %>
</table>
<div style="border:1px solid #d0d0d0;padding:5px"><%=textilize @announcement.message %></div>
