<%= content_for :header, t('.header', :defaul => "Listing roles") %>
<% content_for :additional_css do %>
  <%= stylesheet_link_tag "nosidebar" %>
<% end -%>
<table class="index">
  <tr>
    <th><%= Role.human_attribute_name('name') %></th>
  </tr>
<% for role in @roles %>
  <tr>
    <td><%= link_to_edit h(role.name), edit_admin_role_path(role) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @roles %>

