<% content_for :sidebar do %>
  <ul class="sidebar_menu">
    <li><%= link_to_back t('.back', :default => 'Back to item list'), items_path %></li>
    <% unless @item.new_record?  %>
    <li><%= link_to_show "Show", @item %></li>
    <% end -%>
  </ul>
<% end -%>
<% form_for(@item) do |f| %>
<%= f.error_messages %>
<h3>Dados Gerais</h3>
<table class="data-form">
  <tr>
    <td colspan='2'>
        <%= f.label :name, Item.human_attribute_name('name') %><br />
        <%= f.text_field :name, :size => 36 %>
    </td>
    <td>
      <%= f.label :location, Item.human_attribute_name('location') %><br />

      <%= f.select :location,
        ItemLocation.for_select(@item.item_type),
        {:include_blank => t('.select_promt', :default => '--select--')}, { :style => 'width:138px;'} %>
      <%= f.text_field :location_new, :size => 12, :style => "display:none" %>
      <%= link_to_function t('.new', :default => 'New'), "new_click('location', this)" %>
    </td>
  </tr>
  <tr>
    <td colspan='3'>
        <%= f.label :description, Item.human_attribute_name('description') %><br />
        <%= f.text_field :description, :size => 52 %>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label :item_type, Item.human_attribute_name('item_type') %><br />
        <%= f.select :item_type, @item.types_for_select, {}, {:style => "width:200px;"} %>
    </td>
    <td>
        <%= f.label :item_role, Item.human_attribute_name('item_role') %><br />
        <%= f.select :item_role, @item.roles_for_select %>
    </td>
    <td>
        <%= f.label :item_model, Item.human_attribute_name('item_model') %><br />
        <%= f.select :item_model,
          ItemModel.for_select(@item.item_type),
          {:include_blank => t('.select_promt', :default => '--select--')}, {:style=> "width:140px;"} %>
        <%= f.text_field :item_model_new, :size => 12, :style => "display:none" %>
        <%= link_to_function t('.new', :default => 'New'), "new_click('item_model', this)" %>
    </td>
  </tr>
  <tr>
    <td>
        <%= f.label :manufacturer, Item.human_attribute_name('manufacturer') %><br />
        <%= f.select :manufacturer,
          ItemManufacturer.for_select(@item.item_type),
          {:include_blank => t('.select_promt', :default => '--select--')}, {:style => "width:140px"} %>
        <%= f.text_field :manufacturer_new, :size => 12, :style => "display:none" %>
        <%= link_to_function t('.new', :default => 'New'), "new_click('manufacturer', this)" %>
    </td>
    <td>
        <%= f.label :serial, Item.human_attribute_name('serial') %><br />
        <%= f.text_field :serial, :size => 16 %>
    </td>
    <td>
        <%= f.label :user, Item.human_attribute_name('user') %><br />
        <%= f.select :user,
          ItemUser.for_select(@item.item_type, @item.location),
          {:include_blank => t('.select_promt', :default => '--select--')}, {:style => 'width:130px;'} %>
        <%= f.text_field :user_new, :size => 12, :style => "display:none" %>
        <%= link_to_function t('.new', :default => 'New'), "new_click('user', this)" %>

    </td>
  </tr>
</table>
<% if @item.computer? -%>
<h3>Dados Computador/Servidor</h3>
<table class="data-form">
  <tr>
    <td style='width:200px;'>
      <%= f.label :operating_system, Item.human_attribute_name('operating_system') %><br />
      <%= f.select :operating_system,
        ItemOperatingSystem.for_select(@item.item_type),
        {:include_blank => t('.select_promt', :default => '--select--')}, {:style => 'width:140px;'} %>
        <%= f.text_field :operating_system_new, :size => 12, :style => "display:none" %>
        <%= link_to_function t('.new', :default => 'New'), "new_click('operating_system', this)" %>
    </td>
    <td>
      <%= f.label :memory, Item.human_attribute_name('memory') %><br />
      <%= f.select :memory, ['32','64','128','256','384','512','640','768','896','1024','2048','3072','4096','8192','10240'] %>
    </td>
    <td>
      <%= f.label :disk, Item.human_attribute_name('disk') %><br />
      <%= f.select :disk, ['20G','40G','60G','80G','100G','120G','160G','180G','200G','250G','320G','500G','640G','1T'] %>
    </td>
    <td>
      <%= f.label :video, Item.human_attribute_name('video') %><br />
      <%= f.select :video, ItemVideo.for_select(@item.item_type),
        :include_blank => t('.select_promt', :default => '--select--') %>
      <%= f.text_field :video_new, :size => 12, :style => "display:none" %>
      <%= link_to_function t('.new', :default => 'New'), "new_click('video', this)" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :display, Item.human_attribute_name('display') %><br />
      <%= f.select :display, ItemDisplay.for_select(@item.item_type),
        :include_blank => t('.select_promt', :default => '--select--') %>
      <%= f.text_field :display_new, :size => 12, :style => "display:none" %>
      <%= link_to_function t('.new', :default => 'New'), "new_click('display', this)" %>
    </td>
    <td colspan='2'>
      <%= f.label :optical_drive, Item.human_attribute_name('optical_drive') %><br />
      <%= f.check_box :optical_drive %>
    </td>
    <td>
      <%= f.label :processor, Item.human_attribute_name('processor') %><br />
      <%= f.select :processor,
        ItemProcessor.for_select(@item.item_type),
        :include_blank => t('.select_promt', :default => '--select--') %>
      <%= f.text_field :processor_new, :size => 12, :style => "display:none" %>
      <%= link_to_function t('.new', :default => 'New'), "new_click('processor', this)" %>
    </td>
  </tr>
</table>
<% end -%>
<% if @item.computer? || @item.network? -%>
<h3>Dados de Rede/Ativos</h3>
<table class="">
  <tr>
    <td>
      <%= f.label :dhcp, Item.human_attribute_name('dhcp') %><br />
      <%= f.check_box :dhcp %>
    </td>
    <td>
      <%= f.label :ip_address, Item.human_attribute_name('ip_address') %><br />
      <%= f.text_field :ip_address, :size => 12 %>
    </td>
    <td>
      <%= f.label :subnet, Item.human_attribute_name('subnet') %><br />
      <%= f.text_field :subnet, :size => 12 %>
    </td>
  </tr>
</table>
<% end -%>
<h3>Dados da Garantia</h3>
<table class="data-form">
  <tr>
    <td>
      <%= f.label :supplier, Item.human_attribute_name('supplier') %><br />
      <%= f.select :supplier,
        ItemSupplier.for_select(@item.item_type),
        :include_blank => t('.select_promt', :default => '--select--') %>
      <%= f.text_field :supplier_new, :size => 12, :style => "display:none" %>
      <%= link_to_function t('.new', :default => 'New'), "new_click('supplier', this)" %>
    </td>
    <td>
      <%= f.label :cost, Item.human_attribute_name('cost') %><br />
      <%= f.text_field :cost, :size => 16 %>
    </td>
    <td>
      <%= f.label :document, Item.human_attribute_name('document') %><br />
      <%= f.text_field :document, :size => 10 %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :status, Item.human_attribute_name('status') %><br />
      <%= f.select :status, @item.statuses_for_select %>
    </td>
    <td>
      <%= f.label :guarantee, Item.human_attribute_name('guarantee') %><br />
      <%= f.date_select :guarantee %>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan='3'>
      <%= f.label :comments, Item.human_attribute_name('comments') %><br />
      <%= f.text_area :comments, :rows => 5, :cols => 70 %>
    </td>
  </tr>
</table>
<p>
  <%= f.submit t('.submit', :default => "Confirm") %>
</p>
<% end %>

<% content_for :javascript do %>
  <% javascript_tag do -%>
    function new_click(field, link) {
      if (link.innerHTML == '<%= t('.new', :default => 'New') %>') {
        $('item_'+field).hide();
        $('item_'+field+'_new').show();
        link.innerHTML = '<%= t('.cancel', :default => 'Cancel') %>';
      } else {
        $('item_'+field).show();
        $('item_'+field+'_new').hide();
        link.innerHTML = '<%= t('.new', :default => 'New') %>';
      }
    }
  <% end -%>
<% end -%>

