<%= content_for :header, t('.header', :default => "Listing items") %>
<%= content_for :additional_css, stylesheet_link_tag("nosidebar") %>
<span style="float:left;margin-top:5px;"><%= link_to_new t('.new', :default => "New Item"), Item %></span>
<br />
<table class="index">
  <tr>
    <th><%= Item.human_attribute_name('item_type') %></th>
    <th><%= Item.human_attribute_name('item_model') %></th>
    <th><%= Item.human_attribute_name('serial') %></th>
    <th><%= Item.human_attribute_name('manufacturer') %></th>
    <th><%= Item.human_attribute_name('status') %></th>
    <th><%= Item.human_attribute_name('location') %></th>
    <th>&nbsp;</th>
  </tr>
<% for item in @items %>
  <tr>
    <td><%=h item.type_name %></td>
    <td><%=h item.item_model %></td>
    <td><%=h item.serial %></td>
    <td><%=h item.manufacturer %></td>
    <td><%=h item.status_name %></td>
    <td><%=h item.location %></td>
    <td class="actions">
      <%= link_to_show nil, item %> |
      <%= link_to_edit nil, item %> |
      <%= link_to_destroy nil, item %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @items %>

