<% content_for :header do -%>
  <%= t('.header', :site_name => APP_CONFIG.site_name, :user_login => h(@user.login),
       :default => "#{APP_CONFIG.site_name} Editing Account for <em>#{h @user.login}</em>") %>
<% end -%>
<% content_for :sidebar do -%>
<h2><%= t('.sidebar_status', :state => @user.state_name,
        :default => "Account status: #{@user.state_name}") %></h2>
<ul class="sidebar_menu">
    <li><%= link_to_back admin_users_path, :text => t('.back', :default => 'Back to user list') %></li>
</ul>
<% end -%>
<% form_for @user, :url => admin_user_url do |f| -%>
  <p>
    <%= f.label :login, User.human_attribute_name('login') %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <label><%= t('.roles', :default => 'Roles') %></label><br />
    <ul style="list-style:none;">
      <% for role in Role.all -%>
        <li><%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %> <%= role.name.humanize %></li>
      <% end -%>
    </ul>
  </p>
  <label><%= t('.access_control', :default => 'Access Control') %></label><br />
  <div class="access_control">
    <%= render :partial => 'admin/roles/role_access', :object => @user %>
  </div>
  <br />
<%= f.submit t('.submit', :default => "Confirm") %>
<% end -%>

