<% content_for :header do -%>
  <%= t('.header', :site_name => configatron.site_name, :default => "#{configatron.site_name} Users") %>
<% end -%>
<% content_for :sidebar do -%>
  <ul class="sidebar_menu">
    <li><%= link_to_search t('.view_all_users', :default => "All users"), admin_users_url %></li>
    <li><%= link_to_search t('.view_users_by_state', :state => User.state_name('active').to_s.downcase.pluralize, :default => "Active users only"), admin_users_url(:state => 'active') %></li>
    <li><%= link_to_search t('.view_users_by_state', :state => User.state_name('suspended').to_s.downcase.pluralize, :default => "Suspended users only"), admin_users_url(:state => 'suspended') %></li>
    <li><%= link_to_search t('.view_users_by_state', :state => User.state_name('pending').to_s.downcase.pluralize, :default => "Pending users only"), admin_users_url(:state => 'pending') %></li>
    <li><%= link_to_search t('.view_users_by_state', :state => User.state_name('deleted').to_s.downcase.pluralize, :default => "Deleted users only"), admin_users_url(:state => 'deleted') %></li>
  </ul>
<% end -%>
<span style="float:left;margin-top:5px;"><%= link_to_new nil, User, :url => new_admin_user_path %></span>
<br />
<table class="index">
  <tr>
  <th><%= User.human_attribute_name('id') %></th>
  <th><%= User.human_attribute_name('login') %></th>
  <th><%= User.human_attribute_name('email') %></th>
  <th><%= User.human_attribute_name('state') %></th>
  </tr>
<% # TODO: (base_app) Add some sort of search feature to easily find users %>
<% for user in @users %>
  <tr>
  <td><%=h user.id %></td>
  <td><%= link_to_show h(user.login), admin_user_url(user) %></td>
  <td><%=h user.email %></td>
  <td><%=h user.state_name %></td>
    <td class="actions">
    <%= link_to_activate_user(user) %>
    <%= link_to_suspend_user(user) %>
    <%= link_to_unsuspend_user(user) %>
    <%= link_to_delete_user(user) %>
  </td>
  </tr>
<% end %>
</table>
<%= will_paginate @users %>

