<% content_for :header do -%>
Create a new <%= configatron.site_name %> account
<% end -%>
<% content_for :sidebar do -%>
<ul class="sidebar_menu">
  <li><%= link_to_back admin_users_path %></li>
</ul>
<p><strong>This account will not be activated by default!</strong></p>
<p>
  The user will receive an email with activation instructions. If you want
  to activate the account, you can do this manually later.
</p>
<% end -%>
<% form_for @user, :url => admin_users_path do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %><br/>
    <%= f.text_field :login, :size => 24 %>
  </p>
  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email, :size => 35 %>
  </p>
  <p>
    <%= f.label :password %><br/>
    <%= f.password_field :password, :size => 15 %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, :size => 15 %>
  </p>
  <p><%= submit_tag 'Confirm' %></p>
<% end -%>
