<% content_for :header do -%>
  <%= t('.header', :site_name => APP_CONFIG.site_name, :default => "Create a new #{APP_CONFIG.site_name} account") %>
<% end -%>
<% content_for :sidebar do -%>
<ul class="sidebar_menu">
  <li><%= link_to_back admin_users_path %></li>
</ul>
<p><strong><%= t('.sidebar.title', :default => 'This account will not be activated by default!') %></strong></p>
<p>
  <%= t('.sidebar.message', :default => 'The user will receive an email with activation instructions.
                              If you want to activate the account, you can do this manually later.') %>
</p>
<% end -%>
<% form_for @user, :url => admin_users_path do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :login, User.human_attribute_name('login') %><br/>
    <%= f.text_field :login, :size => 24 %>
  </p>
  <p>
    <%= f.label :email, User.human_attribute_name('email') %><br/>
    <%= f.text_field :email, :size => 35 %>
  </p>
  <p>
    <%= f.label :password, User.human_attribute_name('password') %><br/>
    <%= f.password_field :password, :size => 15 %>
  </p>
  <p>
    <%= f.label :password_confirmation, User.human_attribute_name('password_confirmation') %><br/>
    <%= f.password_field :password_confirmation, :size => 15 %>
  </p>
  <p><%= submit_tag t('.submit', :default => 'Confirm') %></p>
<% end -%>

