<ul>
  <% if Setting.count > 0 %>
  <li style="float: right;"><%= tab_to t('.settings', :default => "Settings"), [{:controller => "admin/settings"}] %></li>
  <% end %>
  <li style="float: right;"><%= tab_to t('.roles', :default => "Roles"), [{:controller => "admin/roles"}] %></li>
  <li style="float: right;"><%= tab_to t('.security_resources', :default => "Security Resources"), [{:controller => "admin/resources"}] %></li>
  <li style="float: right;"><%= tab_to t('.announcements', :default => "Announcements"), [{:controller => "admin/announcements"}] %></li>

  <li><%= tab_to t('.dashboard', :default => "Dashboard"), [{:controller => "admin/dashboard"}] %></li>
  <li><%= tab_to t('.users', :default => "Users"), [{:controller => "admin/users"}] %></li>
</ul>

