<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= configatron.site_name %></title>
  <%= stylesheet_link_merged :base %>
  <%= stylesheet_link_merged(:admin) if admin_layout?%>
  <%= yield(:additional_css) %>
  <%= javascript_include_merged :base %>

</head>
<body>
  <% unless active_announcements.empty? -%>
    <div id="site_announcements">
      <% for announcement in active_announcements -%>
        <div class="announcement"><%= simple_format announcement.message %></div>
      <% end -%>
      <p class='hide'><%= link_to_remote t('layout.announcement.hide_announcement', :default => 'Hide this message'), :url => "/javascripts/hide_announcement.js" %></p>
    </div>
  <% end -%>
  <div id="header">
    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>
    <h1><%= configatron.site_name %></h1>
    <div id="tabs">
      <%= render_tabs %>
    </div>
  </div>
  <div id="main">
    <div id="left">
      <div class="col">
        <%= flash_message %>
        <h2 class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h2>
        <div id="screen">
          <%= yield %>
        </div>
      </div>
      <div class="bottom">&nbsp;</div>
    </div>
    <div id="right">
      <div class="col">
        <%= yield_or_default(yield(:sidebar)) %>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
  <%= render_footer %>
</body>
<%= yield(:javascript) %>
</html>

